<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title><H1>Pick-A-Pet</H1></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="normalize.css" rel="stylesheet">
    <link href="skeleton.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>

<!-- Primary Page Layout
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>

<div class="section hero">
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <h4 class="hero-heading">
                    {{#dogChoice}}

                    breed:{{breed}}

                {{/dogChoice}}
                </h4>

            </div>
            <div class="one-half column dog">
                <img class="pictures" src="main/resources/pictures/chihuahua-sobel-dog-50718.jpeg">
            </div>
        </div>
    </div>
</div>

<div class="section values">
    <div class="container">
        <div class="row">
            <div class="one-half column value">
                <h5 class="value-heading">Congrats, you are a match with a {{#dogChoice}}{{breed}}{{/dogChoice}}!</h5>
            </div>
            <div class="one-half column value">
                <h5 class="value-heading">Search for adoptable {{#dogChoice}}{{breed}}'s{{/dogChoice}} in your local area! </h5>
                <p class="value-description">"add link to petfinder here"</p>
            </div>
        </div>
    </div>
</div>

<!--<div class="section get-help">
    <div class="container">
        <h3 class="section-heading">Need help getting started?</h3>
        <p class="section-description">Skeleton is an amazingly easy place to start with responsive development. If you want to learn more, just visit the documentation!</p>
        <a class="button button-primary" href="http://getskeleton.com">View Skeleton Docs</a>
    </div>
</div>

<div class="section categories">
    <div class="container">
        <h3 class="section-heading">Responsive Images</h3>
        <p class="section-description">Skeleton images sit easily in grid with .u-max-full-width class. I suggest exploring solution to serving different images based on device size.</p>
        <div class="row">
            <div class="one-half column category">
                <img class="u-max-full-width" src="images/placeholder.png">
            </div>
            <div class="one-half column category">
                <img class="u-max-full-width" src="images/placeholder.png">
            </div>
        </div>
    </div>
</div> -->




<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>


</body>


</html>